<html>
  <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <div id="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">PizzaMania</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
         
          <!--<li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>-->
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="logoutClicked()" type="button">Logout</button>
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="cartClicked()" >cart</button>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
   
    
  <div fxLayout="row wrap" fxFlex.xs="100%" fxFlex.sm="33%"  fxLayoutGap="30px grid"  style="margin: 15px;">
  <div fxFlex="25%" *ngFor="let product of homeService.pizzaList">
    <div class="container mx-auto mt-4">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 18rem; height: 25rem;">
            <div class="container">
              <div class="card-body">
                <div id="cardContainer">
                  <img [src]="product.photoPath" class="card-img-top" alt="...">
                  <h5 class="card-title">{{product.name}}</h5>
                  <h6 class="card-subtitle">Price : {{product.price}}</h6>
                  <p class="card-text">{{product.description}}</p>
                  <div *ngIf="product">
                    <button class="ViewButton" (click)="addToCart(product)" mat-button>Add to cart</button>
                    <button class="ViewButton" (click)="addNew()" mat-button>Add </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>




  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>