<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/src/app/app.component.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="labelClass">
    <img class="topImage" src="https://cdn.pixabay.com/photo/2017/12/05/20/10/pizza-3000285_960_720.png" />
    <div id="PizzaTitle">Pizzeria</div>
  </div>

  <form #userSub = "ngForm" name="userSub"  >
    <div class="form">
      <div class="title">Welcome</div>
      <div class="subtitle">Let's create your account!</div>
      <div class="form-group">
      <div class="input-container ic1">
        <input required class="input" type="text" placeholder=" " id="firstname" name="firstname" [(ngModel)]="firstname" />
        <div class="cut"></div>
        <label for="firstname" class="placeholder">First name</label>
      </div>
    </div>
    <div class="form-group">
      <div class="input-container ic2">
        <input  required id="lastname" class="input" type="text" placeholder=" " name="lastname" [(ngModel)]="lastname"/>
        <div class="cut"></div>
        <label for="lastname" class="placeholder">Last name</label>
      </div>
      </div>
      <div class="form-group">
      <div class="input-container ic2">
        <input required id="email" class="input" type="email" placeholder=" " [(ngModel)]="email" email="true" name="email" #prmEmail="ngModel" />
        <div class="cut cut-short"></div>
        <label for="email" class="placeholder">Email</label>
      </div>
      <div class="input-container ic2">
        <input required id="password" class="input" type="password" placeholder=" " [(ngModel)]="password" name="password" />
        <div class="cut cut-short"></div>
        <label for="password" class="placeholder">Password</label>
      </div>
      </div>
      <div id="buttonD">
      <button type="submit" class="submit" label="submitButton" (click)="onClickSubmit()">submit</button>
      <a id="AllReadyUser" [routerLink]="['/login']">All ready a User?</a >
      </div>
    </div>
  </form>
  
 
 

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
</body>

</html>